body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
    padding: 10px;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
    display: block;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

.hero-image {
    text-align: center;
    background-color: #f2f2f2;
    padding: 50px;
}

/* Limit the size of the food truck image */
#food-truck-icon {
    width: 100%;
    max-width: 600px; /* Set a maximum width */
    height: auto;
    margin: 0 auto;
}

.about-us, .menu, .dev-favorites, .location, .hours {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    margin: 20px 0;
    color: #c61717;
    font-size: 2.5rem;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px 0;
    color: #183385;
    font-size: 2rem;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px 0;
    color: #26a382;
    font-size: 1.75rem;
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px 0;
    color: #a2119d;
    font-size: 1.5rem;
}

.menu {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.menu-description {
    font-size: 1rem;
    color: #9d981b;
    margin-top: 10px;
}

p {
    margin-bottom: 20px;
}

/* Center and make the dev-favorites-gallery images responsive */
.dev-favorites-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Space between images */
}

.dev-favorites-gallery img {
    width: 100%;
    max-width: 300px; /* Adjust as needed */
    height: auto;
    border-radius: 10px; /* Optional: add some rounding */
}

/* Center and style the footer icons */
.footer-socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; /* Space between icons */
    padding: 10px;
}

.footer-icon {
    width: 40px; /* Adjust size */
    height: 40px;
}

footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

/* Fade-in animation styles */
.fade-in {
    opacity: 0;
}

.fade-in-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}
